{% extends 'website/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="header col-center">
        <h2>Tweet Sentiment Analysis</h2>
        {% if msg is None or hashtag is None %}
        <!-- This is how we determine if a value has been sent from the backend -->
        <div style="color: red; display: flex; justify-content: center;">
            <p>No Hashtag Input( maybe use trending hashtag?)</p>
            <!-- this is how we place the value of the variable onto the page -->
        </div>
        {% else %}
        <div class="div-center">
            <p># {{hashtag}}</p>
        </div>


        {% endif %}
    </div>

    <!-- Content Row -->
    <div class="div-center row">

        <!-- Total Tweets Pulled -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body" style="padding-top: 0.7rem;padding-bottom: 1rem;">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Tweets Pulled (Total)</div>
                            <div class=" align-items-center row" style="margin-left: 0.05rem;">
                                <div id="showTotal" class="h5 mb-0 font-weight-bold text-gray-800 ">{{tweets_pulled}}
                                </div>
                                <form method="POST" id="showEdit" style="display: none;">
                                    {% csrf_token %}

                                    <div class="small-inputgroup flex-row">
                                        <input value="{{hashtag}}" id="ht" name="ht" hidden>
                                        <input class="small-input" id="limit" name="limit" value="{{tweets_pulled}}">
                                        <button class="btn-small" type="sumbit">
                                            <i class="fa-solid fa-arrow-right-to-bracket" style="color:white"></i>
                                        </button>
                                    </div>
                                </form>
                                <div class="">
                                    <button id="toggleEdit" class="btn" type="sumbit">
                                        <i class="fa fa-edit text-gray-300"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line · Unicode: f201 fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Positive Tweets -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Positive </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{percent_pos|floatformat:2}}%</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-thumbs-up fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Neutral tweets-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><span
                                    style="color:#f6c23e">Neutral</span>
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                        {{percent_neu|floatformat:2}}%</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas  fa-meh fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Negative tweets-->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1"><span
                                    style="color:red">Negative</span>
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                        {{percent_neg|floatformat:2}}%</div>
                                </div>

                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas  fa-thumbs-down fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- Show WordClouds Row -->
    <div class="div-center">
        <p id="max" hidden>{{max}} </p>

        <!--col-xl-3 col-md-6 mb-4-->
        <div class="div-center stop-words ">

            <div class="row justify-content-center">

                <div id="blockwc" class="card card2  shadow h-100 py-2">
                    <div class="radio-wc pl-1">
                        <h6 class="flex-column">Choose Word Cloud:</h6>

                        <label for="happy">
                            <input type="radio" name="wc" class="happy" id="happy" value="p" checked />
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" width="100%" height="100%" viewBox="0 0 24 24">
                                <path
                                    d="M20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12M22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2A10,10 0 0,1 22,12M10,9.5C10,10.3 9.3,11 8.5,11C7.7,11 7,10.3 7,9.5C7,8.7 7.7,8 8.5,8C9.3,8 10,8.7 10,9.5M17,9.5C17,10.3 16.3,11 15.5,11C14.7,11 14,10.3 14,9.5C14,8.7 14.7,8 15.5,8C16.3,8 17,8.7 17,9.5M12,17.23C10.25,17.23 8.71,16.5 7.81,15.42L9.23,14C9.68,14.72 10.75,15.23 12,15.23C13.25,15.23 14.32,14.72 14.77,14L16.19,15.42C15.29,16.5 13.75,17.23 12,17.23Z" />
                            </svg>
                        </label>

                        <label for="neutral">
                            <input type="radio" name="wc" class="neutral" id="neutral" value="u" />
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                version="1.1" width="100%" height="100%" viewBox="0 0 24 24">
                                <path
                                    d="M8.5,11A1.5,1.5 0 0,1 7,9.5A1.5,1.5 0 0,1 8.5,8A1.5,1.5 0 0,1 10,9.5A1.5,1.5 0 0,1 8.5,11M15.5,11A1.5,1.5 0 0,1 14,9.5A1.5,1.5 0 0,1 15.5,8A1.5,1.5 0 0,1 17,9.5A1.5,1.5 0 0,1 15.5,11M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M9,14H15A1,1 0 0,1 16,15A1,1 0 0,1 15,16H9A1,1 0 0,1 8,15A1,1 0 0,1 9,14Z" />
                            </svg>
                        </label>

                        <label for="super-sad">
                            <input type="radio" name="wc" class="super-sad" id="super-sad" value="n" />
                            <svg viewBox="0 0 24 24">
                                <path
                                    d="M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M16.18,7.76L15.12,8.82L14.06,7.76L13,8.82L14.06,9.88L13,10.94L14.06,12L15.12,10.94L16.18,12L17.24,10.94L16.18,9.88L17.24,8.82L16.18,7.76M7.82,12L8.88,10.94L9.94,12L11,10.94L9.94,9.88L11,8.82L9.94,7.76L8.88,8.82L7.82,7.76L6.76,8.82L7.82,9.88L6.76,10.94L7.82,12M12,14C9.67,14 7.69,15.46 6.89,17.5H17.11C16.31,15.46 14.33,14 12,14Z" />
                            </svg>
                        </label>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters align-items-center justify-content-center">
                            <div class="">
                                <div id="wctitle"
                                    class="text-xs font-weight-bold text-primary div-center text-uppercase mb-1">
                                </div>
                                <img id="wcimg" class="img-fluid px-3 px-sm-4 mt-3 mb-4"
                                    src="/static/website/img/wc_p.jpg" alt="Word Cloud Positive" style="width: 50rem;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- Show Data Row -->
    <div class="row div-center p-4">
        <div class="mb-2">
          
            <button id="toggleTable" class="toggle-button" type="sumbit">
                <span class="mr-1">Pulled Tweets</span>
                <i id="opent" class="fa fa-eye " ></i>
                <i id="close" class="fa fa-eye-slash " style="display: none;"></i>
            </button>
        </div>

        <table class="blueTable " id="tableall" style="display: none;">
            <thead>
                <th>Tweet</th>
                <th>Sentiment</th>
                <th>Time Posted</th>
                <th>Confidence</th>
            </thead>
            {% for i in all_tweets %}
            <tr id="valrow">
                <td>{{i.tweet}}</td>
                <td>{{i.sentiment}}</td>
                <td>{{i.time}}</td>
                <td>{{i.value|floatformat:3 }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        <!-- Pie Chart -->
        <div class="col-xl-4 col-center col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary2">Sentiment Distribution</h6>
                   
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myChart"></canvas>
                    </div>
                 
                </div>
            </div>
        </div>
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary2">Sentiment Over Time</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myTimeChart"></canvas>
                    </div>
                    
                </div> 
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-boldtext-primary2">Word Frequency</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="mywfChart"></canvas>
                    </div>

                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-boldtext-primary2">Word Frequency with Sentiment</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="mywf_sChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small" style="color:black">
                        <span class="mr-2">
                            <i class="fas fa-circle " style="color:#1cc88a"></i> Positive
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle " style="color:#f6c23e"></i> Unsure
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle " style="color:#D22B2B"></i> Negative
                        </span>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-boldtext-primary2">User location with Sentiment</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="mylocChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small" style="color:black">
                        <span class="mr-2">
                            <i class="fas fa-circle " style="color:#1cc88a"></i> Positive
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle " style="color:#f6c23e"></i> Unsure
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle " style="color:#D22B2B"></i> Negative
                        </span>
                    </div>
                </div>
            </div>
        </div>


    </div>




    <!--Charts-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.js"></script>
    <script
        src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script>

        //Sentiment Distribution chart


        var my_list = JSON.parse('{{ n_sentiment|escapejs }}');
        //setup
        const data = {
            labels: ["Positive", "Unsure", "Negative"],
            datasets: [{
                data: my_list,
                backgroundColor: ['#1cc88a', '#f6c23e', '#D22B2B'],
                hoverBackgroundColor: ['green', 'yellow', 'red'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        }
        //config
        const config = {
            type: 'pie',
            data,
            options: {
                responsive:true,
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },
                legend: {
                    display: false
                },
                cutoutPercentage: 80,
            },
        }
        //render |init

        const sentimentChart = new Chart(document.getElementById("myChart"),
            config
        );

        //Sentiment over time chart

        let unit = '{{unit}}'
        var d1 = JSON.parse('{{ pos_ds|escapejs }}');
        var d2 = JSON.parse('{{ neg_ds|escapejs }}');
        var d3 = JSON.parse('{{ neu_ds|escapejs }}');
        //setup
        const data2 = {
            datasets: [
                //Positive
                {
                    label: 'positive',
                    data: d1,
                    backgroundColor: '#1cc88a',
                    hoverBackgroundColor: 'green'
                },
                //Negative   
                {
                    label: 'negative',
                    data: d2,
                    backgroundColor: '#D22B2B',
                    hoverBackgroundColor: 'red'
                },
                //Unsure
                {
                    label: 'unsure',
                    data: d3,
                    backgroundColor: '#f6c23e',
                    hoverBackgroundColor: 'yellow'
                },
            ],

        };
        //config
        const config2 = {
            type: 'bar',
            data: data2,
            options: {
                scales: {
                    x: {
                        type: 'time',
                        time: {
                            unit: unit
                        },
                        title: {
                            display: true,
                            text: 'Time in ' + unit + 's'
                        }

                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of tweets'
                        }
                    }
                },
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },

                cutoutPercentage: 80,
            },
        }

        //render /init
        const timeChart = new Chart(document.getElementById("myTimeChart"),
            config2
        );


        //Word Frequency  
        var words = JSON.parse('{{freq_words|escapejs }}');
        var values = JSON.parse('{{freq_values|escapejs }}');

        //setup
        const data3 = {
            labels: words,
            datasets: [

                {
                    data: values,
                    backgroundColor: '#1DA1F2',
                    hoverBackgroundColor: ' #6495ED'
                },
            ],

        };

        //config
        const config3 = {
            type: 'bar',
            data: data3,
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: '10 Most Occuring Words'
                        }

                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Occurences in all tweets'
                        }
                    }
                },
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },

                cutoutPercentage: 80,
            },
        }

        //render /init
        const wordFreqChart = new Chart(document.getElementById("mywfChart"),
            config3
        );

        //words vs sentiment vs accuracy
        var counts = JSON.parse('{{wf_counts|escapejs }}');
        var sentiment = JSON.parse('{{wf_sentiments|escapejs }}')

        //setup
        function colorswitch(val) {
            if (val < 0.45) return '#D22B2B'
            else if (val > 0.55) return '#1cc88a';
            else return '#f6c23e'

        }
        function h_colorswitch(val) {
            if (val < 0.45) return 'red'
            else if (val > 0.55) return 'green';
            else return 'yellow'

        }
        const backgroundColors = sentiment.map(colorswitch);
        const hoverbackgroundColors = sentiment.map(h_colorswitch);
        const data4 = {
            labels: words,
            datasets: [
                {
                    data: counts,
                    backgroundColor: backgroundColors,
                    hoverBackgroundColor: hoverbackgroundColors
                },
            ],

        };

        //config
        const config4 = {
            type: 'bar',
            data: data4,
            options: {
                indexAxis: 'y',
                scales: {
                    y: {
                        title: {
                            display: true,
                            text: '10 Most Occuring Words'
                        }

                    },
                    x: {
                        title: {
                            display: true,
                            text: '# of tweets found in'
                        }
                    }
                },
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },

                cutoutPercentage: 80,
            },
        }

        //render /init
        const wordFreq_SChart = new Chart(document.getElementById("mywf_sChart"),
            config4
        );



        // User Location Sentiment

        //wordcount vs sentiment vs accuracy
        var places = JSON.parse('{{ls_places|escapejs }}');
        var values = JSON.parse('{{ls_values|escapejs }}');
        var n_tweets = JSON.parse('{{ls_counts|escapejs }}');

        //setup

        const backgroundColors1 = values.map(colorswitch);
        const hoverbackgroundColors2 = values.map(h_colorswitch);
        const data5 = {
            labels: places,
            datasets: [

                {
                    data: n_tweets,
                    backgroundColor: backgroundColors,
                    hoverBackgroundColor: hoverbackgroundColors
                },
            ],

        };

        //config
        const config5 = {
            type: 'bar',
            data: data5,
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: '10 Most Occuring Places'
                        }

                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of tweets'
                        }
                    }
                },
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },

                cutoutPercentage: 80,
            },
        }

        //render /init
        const loc_Chart = new Chart(document.getElementById("mylocChart"),
            config5
        );

    </script>
</div>
{% endblock %}