{% extends 'website/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<!--Start Main Content-->
<div class="row home">
    <div class="col-md-8 home-block">
        <div style="display: flex;flex-direction: column;align-items: flex-start;">


            <div style="margin-left: 10rem;">
                <h1 style="font-size: 3rem;">Tweet Sentiment Analysis</h1>
                <div class="col-center">
                    <h3 style="font-size: 1rem;"> Categorize tweets as Positive or Negative</h3>
                  
                        <img class="e-image" src="{% static 'website/img/emojis.png' %}">

                 
                </div>
                <div class="row search-container" >
                    <div class="search ">
                        <!-- Topbar Search -->
                        <form method="POST"
                            class=" d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            {% csrf_token %}
                            <!-- This is part of the django built in security to prevent malicious websites from sending requests to ours via forged requests -->
                            <div class="input-number div-center" style="margin-left: 6rem;">

                                <input type="number" id="limit"   name="limit"class="form-control bg-light border-0 small" placeholder="Number of tweets" required><!--Required until can be converted to int-->
                            </div>
                            <div class="input-group">
                                <span
                                    style="display: flex;justify-content: flex-end;align-items: center;color: black;font-size: 1.5rem;margin-left: .5rem;/*! margin-right: -.rem; */">#</span>
                                <input type="text" id="ht" name="ht" class="form-control bg-light border-0 small" 
                                style="border-top-left-radius: 3rem;
                                border-bottom-left-radius: 3rem;"
                                    placeholder="Enter Hashtag..." aria-label="Search"
                                    aria-describedby="basic-addon2" required>
                                <div class="input-group-append submit-btn">
                                    <button class="btn btn-primary" type="sumbit">
                                        <i class="fa fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        {% if msg %}
                        <!-- This is how we determine if a value has been sent from the backend -->
                        <div style="color: red; display: flex; justify-content: center;">
                            {{msg}}
                            <!-- this is how we place the value of the variable onto the page -->
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="display: flex;justify-content: flex-start;align-items: center;">
        <img class="t-image" src="{% static 'website/img/t_logo.png' %}">
    </div>
</div>
<!-- End of Main Content -->
{% endblock %}